:root {
  --text: #2a2a2a;
  --text-h: #08060d;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light;
  color: var(--text);
  background: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
  font-size: 40px;
  letter-spacing: -1.2px;
  margin: 24px 0;
  @media (max-width: 1024px) {
    font-size: 28px;
    margin: 16px 0;
  }
}

p {
  margin: 0;
}
